// global styles and changing bulma variables

// Import a Google fonts
// @import url("https://font.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900");

$family-sans-serif: "Nunito", sans-serif;

//Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Global styles

html,
body {
  height: 100%;
}

html {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  overflow-y: auto !important;
}
